# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.pytest_cache/
.pyre/

# Environment
.venv/
env/
venv/
*.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Misc
.mypy_cache/
.cache/
